
.dashboard-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8%;
    row-gap: 30px;
}


.dashboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard-welcome {
    font-size: 45px;
}


.graph-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
    padding: 30px 45px;
    background-color: #151e31;
    border-radius: 16px;
}

.graph-container select {
    width: fit-content;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
}

.graph-row {
    height: 450px;
}


.maxes-list {
    overflow-y: auto;
    scrollbar-width: 1px;
    scrollbar-color: #A78BFA #111827;
    max-height: 500px;
    width: 700px;
    padding-left: 0px;
}
.maxes-title {
    text-align: center;
    font-size: 32px;
}

.maxes-container {
}

.exercise-name-container {
    width: 200px;
    font-size: 22px;
    color: lightblue;
}


.maxes-list .list-group-item {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
    text-align: left;
    justify-content: space-between;
}
.maxes-list li {
    color: rgb(162, 185, 207);
    list-style-type: none;
}

@media(max-width: 800px) {
    .graph-container {
        width: 90%;
        overflow-x: auto;
        padding: 20px 15px;
    }
    .dashboard-welcome {
        font-size: 2rem;
        padding: 20px 15px;
    }
    .select-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .dashboard-grid {
        padding-top: 20%;
        flex-direction: column;
    }
    .maxes-list {
        width: 90%;
        max-height: 300px;
    }
    .maxes-title {
        text-align: center;
        font-size: 29px;
        width: 90%;
    }
    
}