.sets-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
  }


.sets-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  

.sets-column {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    font-size: 30px;
    font-weight: bold;
}


.sets-column ul {
    z-index: 100;
  }


.sets-column .list-group-item {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
    text-align: left;
}


.sets-button {
    border: 2px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.25rem 0.5rem;
    color: rgba(243, 244, 246, 1);
    text-align: left;
}

.edit {

}


.setList-Column {
    
}


.hide-set {
    display: none;
}

.show-set {

}

.set-text {
    font-weight: 400;
    font-size: 15px;
}

.set-exercise-name {
    font-size: 25px;
    margin-bottom: 0px;
}


.set-list {
    width: 700px;
    margin: 0px;
    padding: 0px;
}

.exercise-row {
    background-color: #11182741;
    padding: 10px 10px;
    border-color: #374151b7;
    border-style: dashed;
    border-width: 1px;
}

/* .list-group-item:hover {
    background-color: rgb(29, 41, 66);
  } */


