.sets-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    margin-bottom: 200px;
  }


.sets-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  

.sets-column {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    font-size: 30px;
    font-weight: bold;
}


.sets-column ul {
    padding-left: 10px;
    z-index: 100;
  }


.sets-column .list-group-item {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
    text-align: left;
}


.sets-button {
    border: 2px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.25rem 0.5rem;
    color: rgba(243, 244, 246, 1);
    text-align: left;
}

.edit {

}




.hide-set {
    display: none;
    opacity: 0;
    height: 0;
}

.set-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 15px;
}

.set-text div{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 15px;
    padding: 0.75rem 1rem;
}

.sets-button {
    border: 2px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.25rem 0.5rem;
    color: rgba(243, 244, 246, 1);
    text-align: left;
    margin: 2px 6px;
    transition: all 0.4s;
}

.edit {
    background-color: rgb(51, 39, 1);
    border-color: rgb(153, 116, 4);
 }
 
 .edit:hover {
    background-color: rgb(90, 69, 1);
 }
 
 
 .delete {
     background-color: rgb(44, 4, 12);
     border-color: rgb(132, 12, 36);
 }
 
 .delete:hover {
     background-color: rgb(71, 6, 19);
 }

.set-exercise-name {
    font-size: 25px;
    margin-bottom: 0px;
}


.set-list {
    width: 700px;
    margin: 0px;
    padding: 0px;
}

.exercise-row {
    background-color: #11182741;
    padding: 10px 10px;
    border-color: #374151b7;
    border-style: dashed;
    border-width: 1px;
}
.setList-Column {
    opacity: 1;
    transition: opacity 0.2s,
    transform 0.2s;
    z-index: 4;
}

.setList-Column.hide-set {
    opacity: 0;
    z-index: -4;
    transform: translateY(-50%);
    transition: opacity 0.2s,
    transform 0.3s;
}

@media(max-width:800px) {
    .sets-row {
        display: flex;
        flex-direction: column;
        padding-top: 2%;
        align-items: center;
        row-gap: 20px;
        width: 90%;
      }

      .sets-grid {
        padding-top: 20%;
      }
      .sets-column {
        width: 90%;
        padding-left: 0px;
      }
      .set-list {
        width: 100%;
    margin: 0px;
    padding: 0px;
    height: 400px;
    overflow-y: auto;
}
}

/* .list-group-item:hover {
    background-color: rgb(29, 41, 66);
  } */


